/*Início Main*/
main{
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "topo"
  "hist"
  "org"
  "cont";
}
/**/
#topo{
  grid-area: topo;
  padding: 40px 16px;
  text-align: center;
}
#topo h2{
  color:#000000;
  font: 32px "Unna", serif;
  padding: 16px;
}
#topo h4{
  color: #000000;
  font: 14px "Open Sans", serif;
  padding: 16px;
  margin-bottom: 10px;
}
/**/
#hist{
  background: url(../img/background3.jpg) no-repeat fixed;
  background-size: cover;
  grid-area: hist;
  padding: 40px 16px;
}
#hist div{
  background: rgba(63, 60, 60, 0.747);
  padding: 10px;
}
#hist p{
  font: 16px "Open Sans", sans-serif;
  margin: 15px 0px;
  color: #ffffff;
}
#hist>p:nth-child(1){
  text-transform: uppercase;
  color: #ffffff;
}
#hist h2{
  color: #ffffff;
  font: 30px Unna, serif;
}
/**/
#org{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "con2"
  "con-img";
  grid-area: org;
  text-align: center;
  padding: 40px 16px;
}
#con2{
  grid-area: con2;
}
#org h2{
  font: 30px "unna", serif;
  padding: 10px;
}
#org p{
  font: 14px "Open Sans", sans-serif;
  padding: 10px;
}
#con-img{
  grid-area: con-img;
}
#con-img img{
  padding: 5px 0px;
}
/**/
/*Final Main*/

@media (min-width: 1024px){
  #topo div{
    margin: 0 auto;
    width: 500px;
    padding: 10px;
  }
  #hist div{
    background: rgba(102, 101, 101, 0.644);
    width: 700px;
    padding: 10px;
  }
  #org{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "con2"
    "eqp";
    gap: 30px;
  }
  #con2{
    grid-area: con2;
  }
  #eqp{
    grid-area: eqp;
    display: flex;
    justify-content: space-around;
  }
  .img{
    padding: 10px;
  }
  #con1{
    grid-area: con1;
    padding: 10px;
  }
  #con1 h3{
    color: #000000;
    font: 30px 'Unna', sans-serif;
    padding: 10px;
  }
  #con1 p{
    font: 14px "Open Sans", sans-serif;
    padding: 10px;
    margin-bottom: 10px;
  }
  #con1 a{
    background-color: #CB9C57;
    color: #ffffff;
    font: 13px "Open Sans", sans-serif;
    padding: 10px 40px;
    margin: 10px;
  }
}