
/*Início Main*/
main{
  grid-area: main;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "video"
  "imgs"
  "cont";
}
/**/
#video{
  grid-area: video;
  text-align: center;
  padding: 30px 20px;
}
#video h2{
  color: #CB9C57;
  font: 30px "Unna", serif;
  padding: 30px 20px;
}
#video p{
  font: 14px "Open Sans", sans-serif;
  padding: 10px;
  margin-bottom: 10px;
}
/**/
#imgs{
  grid-area: imgs;
}
#imgs h2{
  color: #CB9C57;
  font: 30px "Unna", serif;
  padding: 30px 20px;
}

/*Final Main*/


@media (min-width: 1024px){
  #video{
    display: grid;
    grid-template-columns: 300px 600px;
    grid-template-areas: 
    "h2 video"
    "p video";
    justify-content: center;
  }
  #video h2{
    grid-area: h2;
  }
  #video p{
    grid-area: p;
  }
  #video video{
    grid-area: video;
    padding: 0 30px; 
  }
  #imgs{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-areas: 
    "h2 h2 h2"
    "img1 img2 img3"
    "img4 img2 img5"
    "img6 img10 img8"
    "img9 img10 img7"
    "img12 img13 img14"
    "img15 img15 img16";
    justify-content: center;
    gap: 30px;
  }
  #imgs h2{
    grid-area: h2;
  }
  .img1{
    grid-area: img1;
  }
  .img2{
    grid-area: img2;
  }
  .img3{
    grid-area: img3;
  }
  .img4{
    grid-area: img4;
  }
  .img5{
    grid-area: img5;
  }
  .img6{
    grid-area: img6;
  }
  .img7{
    grid-area: img7;
  }
  .img8{
    grid-area: img8;
  }
  .img9{
    grid-area: img9;
  }
  .img10{
    grid-area: img10;
  }
  .img12{
    grid-area: img12;
  }
  .img13{
    grid-area: img13;
  }
  .img14{
    grid-area: img14;
  }
  .img15{
    grid-area: img15;
  }
  .img16{
    grid-area: img16;
  }
  }