@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;700&family=Open+Sans:ital@1&family=Unna:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Heebo', 'Open Sans', 'Unna', serif, sans-serif; 
  color: #000000;
}
img, video{
  width: 100%;
}
body{
  display: grid;
  grid-template-columns: auto;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  gap: 30px;
}

#cont{
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
  "h3"
  "redes"
  "form";
  grid-area: cont;
}
#cont h3{
  grid-area: h3;
  font: 30px "Unna", serif;
  padding: 30px 20px;
}
#redes{
  grid-area: redes;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 26px;
}
#redes img{
  width: 26px;
}

footer{
  grid-area: footer;
  padding: 0px 0px 20px 20px;
}

@media (min-width:450px){
  #redes img{
    width: 32px;
  }
  #endereco{
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  
  #cont{
    display: grid;
    grid-template-columns: 350px 600px;
    grid-template-areas:
    "h3 h3"
    "endereco form"
    "redes form";
    grid-area: cont;
    justify-content: center;
    gap: 30px;
  }
  .endereco{
    grid-area: endereco;
  }
  .add{
    padding: 10px;
    font: 14px "Open Sans", sans-serif;
  }
  #redes{
    grid-area: redes;
    display: grid;
    grid-template-columns: 36px 36px;
    grid-template-areas: 
    "lin twi"
    "ins fac";
    padding: 50px 35px;
    justify-content: start;
    gap: 40px;
  }
  #redes img{
    width: 30px;
  }
  #redes [alt="linkedin"]{
    grid-area: lin;
  }
  #redes [alt="twitter"]{
    grid-area: twi;
  }
  #redes [alt="instagram"]{
    grid-area: ins;
  }
  #redes [alt="facebook"]{
    grid-area: fac;
  }

}