#check{
  display: none;
}
.header-menu{
  width: 100%;
  align-items: center;
  background: var(--bg-color-primary);
  display: flex;
  justify-content: space-around;
}
#logo{
  color: var(--ternary-color);
  padding: 16px 20px;
  font-size: var(--text-fz-three);
}
#menu{
  width: 50%;
}
#menu ul{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#menu a{
  color: var(--primary-color);
  font-size: var(--text-fz-two);
}
@media (max-width:450px) {
  .header-menu{
    justify-content: space-between;
  }
  #label-menu{
    cursor: pointer;
    display: block;
    height: 16px;
    margin-right: 22px;
    position: relative;
    transition: .5s ease-in-out;
    width: 25px;
  }
  #label-menu span{
    /*formatação geral dos spans*/
    background: var(--primary-color);
    border-radius: 30px;
    display: block;
    height: 2px;
    position: absolute;
    transition: .2s ease-in-out;
    width: 100%;
  }
  /*posição dos spans*/
  #label-menu span:nth-child(1){
    top: 0px;
  }
  #label-menu span:nth-child(2){
    top: 8px;
  }
  #label-menu span:nth-child(3){
    top: 16px;
  }
  #check:checked + #label-menu span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  #check:checked + #label-menu span:nth-child(2){
    display: none;
  }
  #check:checked + #label-menu span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
  }
  #menu{
    display: none;
  }
  #check:checked ~ #menu{
    background: var(--bg-color-primary);
    display: block;
    padding: 16px;
    position: absolute;
    top: 60px;
    text-align: right;
    width: 100%;
  }
  #menu ul{
    flex-direction: column;
    align-items: var(--links-position);
  }
  #menu li{
    margin: 10px 0;
  }
  #menu a{
    color: var(--primary-color);
    font-size: var(--text-fz-one);
  }
}
