*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color: #F2F2F2;
  --primary-color: #000;
  --secondary-color: #000;
  --ternary-color: #000;
  --text-fz-one: 1.1rem;
  --text-fz-two: 1.4rem;
  --text-fz-three: 1.7rem;
  --links-position: flex-end; /*center, flex-end, flex-start*/
}
body{
  display: grid;
  gap: 15px;
  grid-template-areas:
  "header"
  "main"
  "footer"
}
@media (max-width:425px) {

}
