*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
:root{
  --bg-color: #F2F2F2;
  --primary-color: #000;
  --secondary-color: #93D8E2;
  --ternary-color: #2A7DA5;
  --bt-whats-color: #61ce70;
  --text-fz-one: 1.1rem;
  --text-fz-two: 1.4rem;
  --text-fz-three: 1.7rem;
  --links-position: flex-end; /*center, flex-end, flex-start*/
}
.contener{
  padding-top: 75px;
  display: grid;
  height: 100vh;
  background-color: var(--bg-color);
  width: 100%;
}
main{
  display: grid;
  grid-template: 
    "section1 section1 section1"
    "section2 section2 section2"
    "section3 section3 section3"
    "section4 section4 section4"
  ;
  gap: 5px;
}
#inicio{    
  grid-area: section1;
}
#empresa{    
  grid-area: section2;
}
#servicos{    
  grid-area: section3;
}
#clientes{
  grid-area: section4;
}
.capa{
  background-image: url("https://images.pexels.com/photos/96715/pexels-photo-96715.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: 100%;
}
.display-capa{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: end;
}
.texto-capa{
  max-width: 90%;
  padding: 0 5px;
}
.texto-capa h3{
  background-color: var(--secondary-color);
  color: var(--ternary-color);
  width: 100%;
  font-weight: 300;
}
.texto-capa h1{
  background-color: var(--ternary-color);
  color: #fff;
  width: 100%;
}
.text-area{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}
.text-area p{
  font-size: var(--text-fz-one);
  font-weight: 100;
}

@media (min-width:768px) {
.capa{
  background-attachment: fixed;
}
}
